@{
    ViewData["Title"] = "Mpesa API test, Initial Requests";
}
<h2>@ViewData["Title"]</h2>
<br />

<h4>
    This page shows the initial response from Mpesa Server when you Make an STK Push payment request.
    It is up to the developer to set or design their app and UI to receive and display (if necessary) 
    callback messages based on user response from the STK menu.
</h4>
<br />

<h4>Lipa Na Mpesa Online (LNMO) Request output:</h4>
<br />

<div class="bg-dark" style="background-color:black;padding:20px;">
    <text style="color:lawngreen"> @ViewData["Message2"]</text>
</div>






